@import '~bootstrap/dist/css/bootstrap';

body{
    margin:0;
    background-color: #d1d0d0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

textarea {
    resize: none;
}


.ref1{
    background-color: #bebebe;
}

.ref2{
    background-color: #6f6f6f;
    margin-top: auto;
}

.ref3{
    background-color: #6f6f6f;
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 5;
}