@import '~bootstrap/dist/css/bootstrap';

body{
    background-color: #d1d0d0;
    height: 100%;
}

textarea {
    resize: none;
}


.ref1{
    background-color: #bebebe;
}

.ref2{
    background-color: #484848;
    /*
    position: absolute;
    width: 100%;
    bottom: 0;*/
}